
/* global.css */
.hero-input {
  @apply w-full bg-white border border-white/30 text-slate-900 placeholder-slate-900 px-3 py-2 rounded-md focus:ring-2 focus:ring-blue-400 outline-none text-xs backdrop-blur-md shadow;
}